<div class="feature__aticle__container">
  <div class="feature__article__photo">
    <img
      src="https://media.gettyimages.com/id/165719514/pt/foto/peru-de-a%C3%A7%C3%A3o-de-gra%C3%A7as.jpg?s=612x612&w=0&k=20&c=AtQeX2oJ0azyE21SquI3NYqtznLMobgXxQfAipRcWoo="
      alt="peru de natal">
  </div>
  <div class="feature__article__content">
    <div class="caption">
      <span>Dezembro 10, 2022</span>
    </div>
    <div class="title">
      <h2>Aprenda a fazer o melhor peru de Natal: dicas e truques para uma receita deliciosa e suculenta</h2>
    </div>
    <div class="description">
      <p>Se você está procurando por uma receita de peru de Natal incrível, este artigo é para você. Aqui você vai encontrar dicas valiosas para escolher o peru perfeito, temperá-lo de forma saborosa e assá-lo com perfeição. </p>
    </div>
  </div>
</div>
