<div class="bar__container">
  <div class="menu__container">
    <ul class="menu__list">
      <li class="menu__option">
        <span class="icon">E</span>
      </li>
      <li class="menu__option">
        <a href="">
          Receitas
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Blog
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Sobre
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Contato
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Categoria especial
        </a>
      </li>
    </ul>
  </div>
  <div class="social__container">
    <ul class="social__list">
      <li class="social__option">
        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li class="social__option">
        <a href="">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li class="social__option">
        <a href="">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="menu__responive">
  <ul class="menu__list">
    <li class="menu__option">
      <span class="icon">E</span>
    </li>
    <li class="menu__option">
      <span (click)="changeDisplayDropDown()" >
        <i class="fa fa-bars"></i>
      </span>
    </li>
  </ul>
  <div class="menu__option__dropdown" *ngIf="dropDownDisplay">
    <ul class="menu__list">
      <div class="dropdown__close__button">
        <span (click)="changeDisplayDropDown()" ><i class="fa fa-xmark"></i></span>
      </div>
      <li class="menu__option">
        <a href="">
          Receitas
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Blog
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Sobre
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Contato
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Categoria especial
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Instagram
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          LinkedIn
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          GitHub
        </a>
      </li>
    </ul>
  </div>
</div>
