<div class="bar__container">
  <div class="menu__container">
    <ul class="menu__list">
      <li class="menu__option">
        <span class="icon">E</span>
      </li>
      <li class="menu__option">
        <a href="">
          Receitas
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Blog
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Sobre
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Contato
        </a>
      </li>
      <li class="menu__option">
        <a href="">
          Categoria especial
        </a>
      </li>
    </ul>
  </div>
  <div class="social__container">
    <ul class="social__list">
      <li class="social__option">
        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li class="social__option">
        <a href="">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
      <li class="social__option">
        <a href="">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="menu__responive">
  <ul class="menu__list">
    <li class="menu__option">
      <span class="icon">E</span>
    </li>
    <li class="menu__option">
      <span>
        <i class="fa fa-bars"></i>
      </span>
    </li>
  </ul>
</div>
